  <div class="message">
    <div class="upper-message">
      <div class="info-user">
        <%= message.user.name %>
      </div>
      <div class="info-date">
        <%= l message.created_at %>
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        <%= message.content %>
      </div>
    </div>
  </div>
