.wrapper {
  display: flex;

}

.chat-side {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.side-header{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #253141;
  padding: 0 20px;
}

.user a{
  color: #fafafa;
  font-weight: 16px;
  text-decoration: none;
}

.create-room a {
  color: deepskyblue;
  font-weight: 10px;
  border: lightblue 1px solid ;
  padding: 14px;
  text-decoration: none;
}
/* ---------------------------- */
.rooms {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.chat-room {
  padding: 20px 0 40px;
}
.room-name a{
  color: white;
  text-decoration: none;
}
/* -------------------------------- */
.chat-main{
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #ffffff;
}

.main-header, .messages, form{
  padding-right: 40px;
  padding-left: 40px;
}

.main-header{
  height: 100px;
}

.messages{
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding-top: 46px;
}

.form{
  height: 90px;
  background-color: #dddddd;
  padding-top: 20px;
  padding-bottom: 20px;
}